* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  --selection: #e9711c;
  --white: #fff;
  --black: #000;
  --seashell: #fff5ee;
  --textColor: #222;
  --dragDropHighlight: #b9b9b9;
  --svgImageSymbol: #979797;
  --liBg: #ededed;
  --highlightYellow: #fefbc8;
  --highlightRed: #dcd89e;
  --dropNotAllowedHighlight: #feb4bf;
  --dropNotAllowedBorderHighlight: #feb5c0;
  --grey: #d6d3d4;
  --link: #007b95;
}
.abbrevationchecker-container {
  background: var(--white);
  box-shadow: 0 -2px 4px 0 rgb(0 0 0 / 20%);
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
  height: 240px;
}

.abbrevationchecker-container .checker-container {
  overflow-y: hidden;
  position: relative;
}

.abbrevationchecker-container .acresizer {
  cursor: row-resize;
  padding-bottom: 5px;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.abbrevationchecker-container .acdrag-drop-header {
  display: flex;
  justify-content: center;
  height: 0px;
}

.acdrag-drop-header:hover .acdrag-drop-symbol {
  color: #000000;
  fill: #000000;
}

.abbrevationchecker-container .acdrag-drop-symbol {
  top: 4px;
  color: var(--svgImageSymbol);
  width: 18px;
  display: flex;
  justify-content: center;
  position: relative;
}

.acdrag-drop-symbol:hover #Unit-Checker {
  color: #000000;
  opacity: 1;
}

.abbrevationchecker-container .abbrevationchecker-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.abbrevationchecker-container .header_heading {
  font-family: OpenSans-Bold;
  font-size: 14px;
  color: var(--textColor);
  margin: 0 0 0 4%;
  width: 12%;
}

.abbrevationstyler-body-container {
  background: #ededed;
  width: 90%;
  height: 180px;
  margin-left: 4%;
  position: relative;
  display: flex;
}

.abbrevation-action-container {
  height: 36px;
  width: 100%;
  border-top: 1px solid #dbdbdb;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.abbrevation-action-btn {
  background: #e9711c;
  border: 2px solid #e9711c;
  width: 121px;
  height: 30px;
  opacity: 0.9;
  font-family: OpenSans-Bold;
  font-size: 12px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

.abbrevationstyler-abbrevation-container {
  background: #ffffff;
  border-radius: 3px;
  width: 60%;
  height: 160px;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
}

.as-abbrevation {
  flex-basis: 20%;
  background: #ededed;
}

.as-abbrevation-modified {
  flex-basis: 80%;
}

.as-abbrevation ul li {
  list-style: none;
  line-height: 35px;
  font-size: 12px;
  font-family: OpenSans-SemiBold;
  color: #000000;
  font-weight: bold;
  padding-left: 10px;
}

.as-abbrevation ul li:nth-child(1) {
  background: #fff;
}

.as-items-heading {
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
}

.as-items-heading .as-heading {
  /* flex-basis: 25%; */
  opacity: 0.5;
  font-family: OpenSans-SemiBold;
  font-size: 12px;
  color: #000000;
}

.as-items-heading .as-heading:nth-child(1) {
  flex-basis: 25%;
}

.as-items-heading .as-heading:nth-child(2) {
  flex-basis: 45%;
}

.as-items-heading .as-heading:nth-child(3) {
  flex-basis: 20%;
}

.as-items-heading .as-heading:nth-child(4) {
  flex-basis: 10%;
}

.as-item-container .as-item {
  margin-left: 10px;
  margin-top: 12px;
}
.as-item-container .as-item .as-modified-item {
  display: flex;
  list-style: none;
  padding: 5px;
}

.as-item ul li {
  font-family: OpenSans-Regular;
  font-size: 12px;
  color: #000000;
}

.as-item ul li:nth-child(1) {
  flex-basis: 25%;
  color: #2091da;
}

.as-item ul li:nth-child(2) {
  flex-basis: 45%;
}

.as-item ul li:nth-child(3) {
  flex-basis: 20%;
}

.as-item ul li:nth-child(4) {
  flex-basis: 10%;
  padding-left: 15px;
}

.as-item ul:hover {
  background: #ffffff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 3px 3px 0 3px 3px;
}

.as-selectionrejection-conatiner {
  width: 38%;
  padding: 18px 10px 0 17px;
}

.as-selectionrejection-headers {
  display: flex;
  justify-content: space-between;
}

.as-selectionrejection-headers .as-selectall {
  opacity: 0.4;
  font-family: OpenSans-Regular;
  font-size: 12px;
  color: #2091da;
  text-decoration: underline;
  cursor: pointer;
}

.as-selectionrejection-headers .as-rejectall {
  background: #ffffff;
  border: 1px solid #db3236;
  font-family: OpenSans-Regular;
  font-size: 12px;
  color: #d0021b;
  padding: 1px 10px;
}

.as-selection-list {
  padding-top: 10px;
  display: flex;
}

.as-selection-list input {
  background: #ffffff;
  border: 1px solid #979797;
  width: 17px;
  height: 17px;
}

.as-selection-list-text {
  font-family: OpenSans-Regular;
  font-size: 12px;
  color: #222222;
  line-height: 18px;
  padding-left: 8px;
}
